<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
    <br>
  </div>

  <div class="field">
    <br>
    <%= form.label :description %>
    <br>
    <%= form.text_area :description %>
    <br>
  </div>

  <div class="field">
    <br>
    <%= form.label :status %>
    <br>
    <%= form.select(:status, options_for_select([['New'], ['In progress'], ['Done']]) )%>
    <br>
  </div>

  <div class="field">
    <br>
    <%= form.label :project_id %>
    <br>
    <%= form.text_field :project_id %>
    <br>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>
  </div>
<% end %>
